@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #d30054;
    color: #fff;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(#941d4d52, #45053b65); */
    background: linear-gradient(#dcdcdc, #a3a3a3);
    min-height: 100vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.mt-10 {
    margin-top: 10rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
    color: #741138;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
}

.nav-item .nav-link {
    color: #741138 !important;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.product {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(255, 0, 157, 0.5);
    transition: all 0.2s ease;
}

.product-info {
    padding-inline: .5rem;
}

.product:hover {
    box-shadow: 0 0 20px rgba(255, 0, 157, 0.5);
}

.product:hover .product-image img {
    transform: scale(1.1);
}

.product-title {
    font-size: 18px;
    font-weight: 300;
    margin: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    margin: 1rem 0;
    color: #d30054;
}

.nav-item:last-child {
    position: relative;
}

.nav-item i {
    font-size: 2rem;
    color: #741138;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.nav-item i:hover {
    color: #741138;
    text-shadow: 0 0 10px #741138;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #741138;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-item a:hover~.mini-cart-content,
.mini-cart-content:hover {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.nav-item .mini-cart-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #d30054;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 5px rgb(255, 0, 157);
}

.mini-cart-content {
    position: absolute;
    top: 50px;
    right: 0;
    width: 400px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(255, 0, 157, 0.5);
    display: none;
    z-index: 999;
    transition-delay: display 1s;
    animation: fadeOut 0.5s ease;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #741138;
}

.mini-cart-items {
    max-height: 300px;
    overflow-y: auto;
}

.mini-cart-content .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.mini-cart-content .cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    align-self: center;
}

.mini-cart-content .cart-item {
    width: 100%;
}

.mini-cart-content .cart-item-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0px 5px;
    width: 150px;
}

.mini-cart-content .cart-item .cart-item-price {
    font-size: 14px;
    font-weight: 600;
    color: #d30054;
    width: 100px;
    margin: 0px 8px;
}

.mini-cart-total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    transition: all 0.3s ease;
    border-radius: 0 0 10px 10px;
}

.product .btn:hover {
    background-color: #d30054;
}

.mini-cart-item-delete {
    font-size: 14px;
    color: #d30054;
    cursor: pointer;
    height: 50px;
}

.mini-cart-total {
    font-size: 18px;
    font-weight: 800;
    color: #741138;
}

.mini-cart-empty {
    font-size: 18px;
    font-weight: 600;
    color: #741138;
    text-align: center;
}

.cart-page {
    min-height: calc(100vh - 100px);
}

.cart-page .cart-item {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 157, 0.5);
    overflow: hidden;
}

@media (max-width: 768px) {
    .cart-page .cart-item {
        flex-direction: column;
        gap: .5rem;
        text-align: center;
    }
}

.cart-page .cart-item img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    object-fit: cover;
}

.cart-page .cart-items {
    width: 100%;
}

.cart-items .cart-item p {
    margin: 0;
    text-align: center;
}

.cart-page .cart-item-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0px 5px;
    width: 100%;
}

.cart-page .cart-item .cart-item-price {
    font-size: 16px;
    font-weight: 600;
    color: #d30054;
    width: 12rem;
    margin: 0px 8px;
}

.my-cart-title {
    font-size: 40px;
    font-weight: 600;
    color: #741138;
    margin-bottom: 1rem;
    width: 100%;
}

.cart-page .cart-item .cart-item-quantity {
    font-size: 16px;
    font-weight: 600;
    color: #741138;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
}

.cart-page .cart-item .cart-item-delete {
    font-size: 20px;
    color: #d30054;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}

.cart-page .cart-item .cart-item-delete:hover {
    color: #741138;
}

.cart-page .cart-item .cart-item-total {
    font-size: 16px;
    font-weight: 600;
    color: #741138;
    width: 12rem;
    margin: 0px 8px;
}

.cart-info-area {
    background-color: #741138;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 157, 0.5);
}

.cart-info-header {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

.cart-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cart-info-item p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.cart-info-item .cart-info-value {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.decrease {
    font-size: 20px;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #741138;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
}

.increase {
    font-size: 20px;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #741138;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}

.cart-item-quantity-value {
    font-weight: 600;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #f5f5f5;
}

.product-image {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.product-stock {
    font-size: 14px;
    font-weight: 500;
    color: #741138;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #741138;
    border-radius: 5px;
    padding: 3px 5px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.user-link,
.logout-link {
    display: none;
}

.search-input {
    width: 400px;
    height: 50px;
    border-radius: .5rem;
    border: 1px solid #741138;
    padding: 0 10px;
    margin: auto;
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.coupon-title {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.coupon-title h3 {
    font-size: 20px;
    font-weight: 600;
    color: #741138;
    margin: 0;
}

.coupon-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

@media (max-width: 768px) {
    .coupon-input {
        width: 100%;
    }
}

.coupon-input input {
    width: 100%;
    height: 50px;
    border: 1px solid #741138;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 10px;
    background-color: #f5f5f5;
}

.coupon-input input:focus {
    outline: none;
    background-color: white;
}

.coupon-input button {
    width: 100px;
    height: 50px;
    border: 1px solid #741138;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #741138;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.coupon-input button:hover {
    background-color: #d30054;
}

.coupon-error {
    background-color: white;
    width: 400px;
    padding: 10px;
    border: 1px solid #741138;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.error {
    color: #ff0000;
    font-size: 0.8rem;
    margin-top: 5px;
}

.success {
    color: #55b455;
    font-size: 0.8rem;
    margin-top: 5px;
}


.footer {
    background-color: #741138;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 2rem;
}

.footer p {
    margin: 0;
}

.about {
    margin-top: 10rem;
    min-height: calc(100vh - 100px);
}

.about .col-12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about h1 {
    font-size: 40px;
    font-weight: 600;
    color: #741138;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.about p {
    font-size: 18px;
    font-weight: 400;
    color: #741138;
    margin-bottom: 1rem;
    width: 100%;
}

.about ul li {
   font-weight: 600;
}

